@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

#filter-box {
  background: #ECEFF1; 
}

mat-header-row {
  border-bottom: 1px solid #37474F;
}
mat-header-cell {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #37474F;
  background: #ECEFF1; 

}

mat-row:hover {
  background-color: #ECEFF1;
}

mat-row {
  border-bottom: 1px solid	#37474F;
}

mat-cell {
  font-family: 'Montserrat', sans-serif;
}
