@import url('https://fonts.googleapis.com/css?family=Raleway:300');
a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin:  0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

mat-toolbar {
  border-bottom: 2px ridge #E65100;
}
