@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.client-card {
  padding: 30px;
}

mat-card-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

mat-card-actions {
  margin-top: 20px;
}

.mat-list-item-word-wrap {
  height: initial !important;
}

.mat-list-item-word-wrap .mat-line {
  word-wrap: break-word !important; 
  white-space: pre-wrap !important;
}

.list-info {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
}
.info-type {
  font-weight: bold;
  color: #37474F;
}