.client-card {
  padding: 30px;
}
mat-card-title {
  text-align: center;
}
mat-card-actions {
  margin-top: 20px;
}
/* mat-divider {
  border-top-color: #3f51b5;
} */
.mat-list-item-word-wrap {
  height: initial !important;
}
.mat-list-item-word-wrap .mat-line {
  word-wrap: break-word !important; 
  white-space: pre-wrap !important;
}
